#blob {
    display: grid;
}

#blob > * {
    margin: auto;
    /* display: flex; */
    grid-column: 1;
    grid-row: 1;
    background-color: white;
}

#blob h1 {
    position: relative;
    right: 18%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 7rem;
    mix-blend-mode: difference;
}
