*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main-title {
    display: grid;
    background-color: #930013;
    background-repeat: no-repeat;
    width: 100%;
}

#main-title svg {
    position: relative;
    right: 4%;
    bottom: 5%;
}

#main-title > * {
    margin: auto;
    grid-column: 1;
    grid-row: 1;
}

#main-title h3, #main-title h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#main-title h1 {
    font-weight: bold;
    font-size: 7rem;
    color: #CC9759;
    z-index: 3;
}

#main-title h3 {
    position: relative;
    top: 15%;
    color: #383838;
    font-size: 1.5rem;
    width: 700px;
}
