@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700;800;900&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main-title {
    display: grid;
    background-color: #930013;
    background-repeat: no-repeat;
    width: 100%;
}

#main-title svg {
    position: relative;
    right: 4%;
    bottom: 5%;
}

#main-title > * {
    margin: auto;
    grid-column: 1;
    grid-row: 1;
}

#main-title h3, #main-title h1 {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

#main-title h1 {
    font-weight: 700;
    font-size: 7rem;
    color: #CC9759;
    z-index: 3;
}

#main-title h3 {
    position: relative;
    top: 15%;
    color: #383838;
    font-size: 1.5rem;
    width: 700px;
}

body{
    background-color: #fbefda !important;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.style1 {
    padding-top: 80px;
}

.space {
    width: 95%;
}

.texte {
    margin: 50px;
}

p {
    font-size: 25px;
}