/*
==============
Trombinoscope
==============
*/

.tree {
	margin: auto;
	width: 90%;
	margin-top: 10vh;
	margin-bottom: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.tree .chefs, .tree .salaries {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.tree .membre {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 300px;
	height: 400px;
	border-radius: 10px;
	background: #fbefda;
	box-shadow: 10px 10px 25px #d5cbb9,
				-10px -10px 25px #fffffb;
	object-fit: cover;
	margin: 25px 25px 25px 25px;
	padding: 25px;
}

.tree .membre .image-membre {
	overflow: hidden;
	border-radius: 10px;
}

.tree .membre img {
	width: 100%;
	height: auto;
	overflow: hidden;
	object-fit: cover;
	filter: grayscale(100%);
	transition: .5s ease-in-out;
}

.tree .membre:hover > .image-membre img {
	filter: grayscale(0%);
	transform: scale(1.05) translateY(5px);
}

.tree .membre .name {
	transform: translateY(10px);
	font-size: 1.5rem;
	font-weight: 500;
}

.tree .membre .metier {
	font-size: 1.2rem;
	transform: translateY(10px);
	color: #383838;
}

/*
==============
Paragraphes
==============
*/

.contenu-paragraphe {
	margin: 20px 50px 20px 50px;
	width: 45%;
	text-align: justify;
	text-justify: inter-word;
}

.contenu-paragraphe:first-child {
	margin-top: 5vh !important;
}

.contenu-paragraphe:last-child {
	margin-bottom: 5vh !important;
}

.contenu-paragraphe:nth-child(even) {
	float: right;
}

.contenu-paragraphe:nth-child(odd) {
	float: left;
}
